statemachine/redshift_dim_event_upsert.asl.json
{
  "Comment": "Child state machine for conformed_refactored.dim_event_upsert()",
  "StartAt": "dim_event_upsert",
  "States": {
    "dim_event_upsert": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "WorkgroupName": "${RedshiftWorkgroup}",
        "Database": "${RedshiftDatabaseName}",
        "Sql": "call conformed_refactored.dim_event_upsert()"
      },
      "Next": "wait_on_dim_event_upsert"
    },
    "wait_on_dim_event_upsert": {
      "Type": "Wait",
      "Seconds": 120,
      "Next": "dim_event_upsert_status_check"
    },
    "dim_event_upsert_status_check": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "Id.$": "$.sql_output.Id"
      },
      "Next": "is_dim_event_upsert_complete"
    },
    "is_dim_event_upsert_complete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FAILED",
          "Next": "dim_event_upsert_failure"
        },
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FINISHED",
          "Next": "dim_event_upsert_done"
        }
      ],
      "Default": "wait_on_dim_event_upsert"
    },
    "dim_event_upsert_failure": {
      "Type": "Fail",
      "Error": "dim_event_upsert_failed",
      "Cause": "conformed_refactored.dim_event_upsert() failed"
    },
    "dim_event_upsert_done": {
      "Type": "Pass",
      "End": true
    }
  }
}
