statemachine/redshift_elt_processing.asl.json
{
  "Comment": "Redshit ELT processing workflow for loading dimension and fact tables",
  "StartAt": "ListExecutions",
  "States": {
    "ListExecutions": {
      "Type": "Task",
      "Next": "ValidateRunningInstances",
      "Parameters": {
        "StateMachineArn.$": "$$.StateMachine.Id",
        "StatusFilter": "RUNNING"
      },
      "Resource": "arn:aws:states:::aws-sdk:sfn:listExecutions",
      "ResultSelector": {
        "runningExecutionsCount.$": "States.ArrayLength($.Executions)"
      }
    },
    "ValidateRunningInstances": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.runningExecutionsCount",
          "NumericGreaterThan": 1,
          "Next": "RunningInstanceDetected"
        }
      ],
      "Default": "read_conformed_sp_statement"
    },
    "RunningInstanceDetected": {
      "Type": "Fail",
      "Error": "RunningInstanceDetected"
    },
    "read_conformed_sp_statement": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "${S3MetaDataBucketName}",
        "Key": "txma/redshift_scripts/sp_setup_conformed_schema_statements.sql"
      },
      "ResultPath": "$.sql_output",
      "ResultSelector": {
        "sql_output.$": "$.Body"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Next": "run_conformed_sp_deploy_redshift"
    },
    "run_conformed_sp_deploy_redshift": {
      "Comment": "Deploy SP on Redshift cluster",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:batchExecuteStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "WorkgroupName": "${RedshiftWorkgroup}",
        "Database": "${RedshiftDatabaseName}",
        "Sqls.$": "States.Array($.sql_output.sql_output)"
      },
      "Next": "wait_on_conformed_sp_deploy_redshift"
    },
    "wait_on_conformed_sp_deploy_redshift": {
      "Comment": "Wait before status check",
      "Type": "Wait",
      "Seconds": 5,
      "Next": "run_sp_conformed_deploy_redshift_status_check"
    },
    "run_sp_conformed_deploy_redshift_status_check": {
      "Comment": "Check Task Status",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "Id.$": "$.sql_output.Id"
      },
      "Next": "is_run_conformed_sp_deploy_complete"
    },
    "is_run_conformed_sp_deploy_complete": {
      "Comment": "check if run_sp_deploy step is complete",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FAILED",
          "Next": "elt_data_pipeline_failure"
        },
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FINISHED",
          "Next": "setup_conformed_data_objects"
        }
      ],
      "Default": "wait_on_conformed_sp_deploy_redshift"
    },
    "setup_conformed_data_objects": {
      "Comment": "Invoke redshift batch execute",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "WorkgroupName": "${RedshiftWorkgroup}",
        "Database": "${RedshiftDatabaseName}",
        "Sql": "call conformed.sp_setup_conformed_schema()"
      },
      "Next": "wait_on_setup_conformed_data_objects"
    },
    "wait_on_setup_conformed_data_objects": {
      "Comment": "Wait before status check",
      "Type": "Wait",
      "Seconds": 5,
      "Next": "setup_conformed_data_objects_status_check"
    },
    "setup_conformed_data_objects_status_check": {
      "Comment": "Check Task Status",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "Id.$": "$.sql_output.Id"
      },
      "Next": "is_setup_conformed_data_objects_complete"
    },
    "is_setup_conformed_data_objects_complete": {
      "Comment": "check if setup conformed data objects step is complete",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FAILED",
          "Next": "elt_data_pipeline_failure"
        },
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FINISHED",
          "Next": "end"
        }
      ],
      "Default": "wait_on_setup_conformed_data_objects"
    },
    "elt_data_pipeline_failure": {
      "Type": "Fail",
      "Cause": "Failure on ELT Pipeline",
      "Error": "Error"
    },
    "end": {
      "Type": "Pass",
      "Result": "pass",
      "End": true
    }
  }
}