statemachine/txma_redshift_consolidated_schema_processing.asl.json
{
  "Comment": "Redshift ELT processing workflow for loading dimension and fact tables",
  "StartAt": "ListExecutions",
  "States": {
    "ListExecutions": {
      "Type": "Task",
      "Next": "ValidateRunningInstances",
      "Parameters": {
        "StateMachineArn.$": "$$.StateMachine.Id",
        "StatusFilter": "RUNNING"
      },
      "Resource": "arn:aws:states:::aws-sdk:sfn:listExecutions",
      "ResultSelector": {
        "runningExecutionsCount.$": "States.ArrayLength($.Executions)"
      }
    },
    "ValidateRunningInstances": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.runningExecutionsCount",
          "NumericGreaterThan": 1,
          "Next": "RunningInstanceDetected"
        }
      ],
      "Default": "dap_datamart_parallel_update"
    },
    "RunningInstanceDetected": {
      "Type": "Fail",
      "Error": "RunningInstanceDetected"
    },
    "dap_datamart_parallel_update": {
      "Comment": "Run all dimension upsert procedures in parallel",
      "Type": "Parallel",
      "Next": "event_extensions_refactored_upsert",
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "dap_datamart_update_failure"
        }
      ],
      "Branches": [
        {
          "StartAt": "dim_event_upsert",
          "States": {
            "dim_event_upsert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
              "ResultPath": "$.sql_output",
              "Parameters": {
                "WorkgroupName": "${RedshiftWorkgroup}",
                "Database": "${RedshiftDatabaseName}",
                "Sql": "call conformed_refactored.dim_event_upsert()"
              },
              "Next": "wait_on_dim_event_upsert"
            },
            "wait_on_dim_event_upsert": {
              "Type": "Wait",
              "Seconds": 120,
              "Next": "dim_event_upsert_status_check"
            },
            "dim_event_upsert_status_check": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
              "ResultPath": "$.sql_output",
              "Parameters": {
                "Id.$": "$.sql_output.Id"
              },
              "Next": "is_dim_event_upsert_complete"
            },
            "is_dim_event_upsert_complete": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.sql_output.Status",
                  "StringEquals": "FAILED",
                  "Next": "dim_event_upsert_failure"
                },
                {
                  "Variable": "$.sql_output.Status",
                  "StringEquals": "FINISHED",
                  "Next": "dim_event_upsert_done"
                }
              ],
              "Default": "wait_on_dim_event_upsert"
            },
            "dim_event_upsert_failure": {
              "Type": "Fail",
              "Error": "dim_event_upsert_failed",
              "Cause": "conformed_refactored.dim_event_upsert() failed"
            },
            "dim_event_upsert_done": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "dim_user_journey_event_upsert",
          "States": {
            "dim_user_journey_event_upsert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
              "ResultPath": "$.sql_output",
              "Parameters": {
                "WorkgroupName": "${RedshiftWorkgroup}",
                "Database": "${RedshiftDatabaseName}",
                "Sql": "call conformed_refactored.dim_user_journey_event_upsert()"
              },
              "Next": "wait_on_dim_user_journey_event_upsert"
            },
            "wait_on_dim_user_journey_event_upsert": {
              "Type": "Wait",
              "Seconds": 120,
              "Next": "dim_user_journey_event_upsert_status_check"
            },
            "dim_user_journey_event_upsert_status_check": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
              "ResultPath": "$.sql_output",
              "Parameters": {
                "Id.$": "$.sql_output.Id"
              },
              "Next": "is_dim_user_journey_event_upsert_complete"
            },
            "is_dim_user_journey_event_upsert_complete": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.sql_output.Status",
                  "StringEquals": "FAILED",
                  "Next": "dim_user_journey_event_upsert_failure"
                },
                {
                  "Variable": "$.sql_output.Status",
                  "StringEquals": "FINISHED",
                  "Next": "dim_user_journey_event_upsert_done"
                }
              ],
              "Default": "wait_on_dim_user_journey_event_upsert"
            },
            "dim_user_journey_event_upsert_failure": {
              "Type": "Fail",
              "Error": "dim_user_journey_event_upsert_failed",
              "Cause": "conformed_refactored.dim_user_journey_event_upsert() failed"
            },
            "dim_user_journey_event_upsert_done": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "dim_user_refactored_upsert",
          "States": {
            "dim_user_refactored_upsert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
              "ResultPath": "$.sql_output",
              "Parameters": {
                "WorkgroupName": "${RedshiftWorkgroup}",
                "Database": "${RedshiftDatabaseName}",
                "Sql": "call conformed_refactored.dim_user_refactored_upsert()"
              },
              "Next": "wait_on_dim_user_refactored_upsert"
            },
            "wait_on_dim_user_refactored_upsert": {
              "Type": "Wait",
              "Seconds": 120,
              "Next": "dim_user_refactored_upsert_status_check"
            },
            "dim_user_refactored_upsert_status_check": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
              "ResultPath": "$.sql_output",
              "Parameters": {
                "Id.$": "$.sql_output.Id"
              },
              "Next": "is_dim_user_refactored_upsert_complete"
            },
            "is_dim_user_refactored_upsert_complete": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.sql_output.Status",
                  "StringEquals": "FAILED",
                  "Next": "dim_user_refactored_upsert_failure"
                },
                {
                  "Variable": "$.sql_output.Status",
                  "StringEquals": "FINISHED",
                  "Next": "dim_user_refactored_upsert_done"
                }
              ],
              "Default": "wait_on_dim_user_refactored_upsert"
            },
            "dim_user_refactored_upsert_failure": {
              "Type": "Fail",
              "Error": "dim_user_refactored_upsert_failed",
              "Cause": "conformed_refactored.dim_user_refactored_upsert() failed"
            },
            "dim_user_refactored_upsert_done": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "dim_journey_channel_refactored_upsert",
          "States": {
            "dim_journey_channel_refactored_upsert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
              "ResultPath": "$.sql_output",
              "Parameters": {
                "WorkgroupName": "${RedshiftWorkgroup}",
                "Database": "${RedshiftDatabaseName}",
                "Sql": "call conformed_refactored.dim_journey_channel_refactored_upsert()"
              },
              "Next": "wait_on_dim_journey_channel_refactored_upsert"
            },
            "wait_on_dim_journey_channel_refactored_upsert": {
              "Type": "Wait",
              "Seconds": 120,
              "Next": "dim_journey_channel_refactored_upsert_status_check"
            },
            "dim_journey_channel_refactored_upsert_status_check": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
              "ResultPath": "$.sql_output",
              "Parameters": {
                "Id.$": "$.sql_output.Id"
              },
              "Next": "is_dim_journey_channel_refactored_upsert_complete"
            },
            "is_dim_journey_channel_refactored_upsert_complete": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.sql_output.Status",
                  "StringEquals": "FAILED",
                  "Next": "dim_journey_channel_refactored_upsert_failure"
                },
                {
                  "Variable": "$.sql_output.Status",
                  "StringEquals": "FINISHED",
                  "Next": "dim_journey_channel_refactored_upsert_done"
                }
              ],
              "Default": "wait_on_dim_journey_channel_refactored_upsert"
            },
            "dim_journey_channel_refactored_upsert_failure": {
              "Type": "Fail",
              "Error": "dim_journey_channel_refactored_upsert_failed",
              "Cause": "conformed_refactored.dim_journey_channel_refactored_upsert() failed"
            },
            "dim_journey_channel_refactored_upsert_done": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "dim_relying_party_refactored_upsert",
          "States": {
            "dim_relying_party_refactored_upsert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
              "ResultPath": "$.sql_output",
              "Parameters": {
                "WorkgroupName": "${RedshiftWorkgroup}",
                "Database": "${RedshiftDatabaseName}",
                "Sql": "call conformed_refactored.dim_relying_party_refactored_upsert()"
              },
              "Next": "wait_on_dim_relying_party_refactored_upsert"
            },
            "wait_on_dim_relying_party_refactored_upsert": {
              "Type": "Wait",
              "Seconds": 120,
              "Next": "dim_relying_party_refactored_upsert_status_check"
            },
            "dim_relying_party_refactored_upsert_status_check": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
              "ResultPath": "$.sql_output",
              "Parameters": {
                "Id.$": "$.sql_output.Id"
              },
              "Next": "is_dim_relying_party_refactored_upsert_complete"
            },
            "is_dim_relying_party_refactored_upsert_complete": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.sql_output.Status",
                  "StringEquals": "FAILED",
                  "Next": "dim_relying_party_refactored_upsert_failure"
                },
                {
                  "Variable": "$.sql_output.Status",
                  "StringEquals": "FINISHED",
                  "Next": "dim_relying_party_refactored_upsert_done"
                }
              ],
              "Default": "wait_on_dim_relying_party_refactored_upsert"
            },
            "dim_relying_party_refactored_upsert_failure": {
              "Type": "Fail",
              "Error": "dim_relying_party_refactored_upsert_failed",
              "Cause": "conformed_refactored.dim_relying_party_refactored_upsert() failed"
            },
            "dim_relying_party_refactored_upsert_done": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ]
    },
    "event_extensions_refactored_upsert": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "WorkgroupName": "${RedshiftWorkgroup}",
        "Database": "${RedshiftDatabaseName}",
        "Sql": "call conformed_refactored.event_extensions_refactored_upsert()"
      },
      "Next": "wait_on_event_extensions_refactored_upsert"
    },
    "wait_on_event_extensions_refactored_upsert": {
      "Type": "Wait",
      "Seconds": 120,
      "Next": "event_extensions_refactored_upsert_status_check"
    },
    "event_extensions_refactored_upsert_status_check": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "Id.$": "$.sql_output.Id"
      },
      "Next": "is_event_extensions_refactored_upsert_complete"
    },
    "is_event_extensions_refactored_upsert_complete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FAILED",
          "Next": "event_extensions_refactored_upsert_failure"
        },
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FINISHED",
          "Next": "update_event_batch_table"
        }
      ],
      "Default": "wait_on_event_extensions_refactored_upsert"
    },
    "event_extensions_refactored_upsert_failure": {
      "Type": "Fail",
      "Error": "event_extensions_refactored_upsert_failed",
      "Cause": "conformed_refactored.event_extensions_refactored_upsert() failed"
    },
    "update_event_batch_table": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "WorkgroupName": "${RedshiftWorkgroup}",
        "Database": "${RedshiftDatabaseName}",
        "Sql": "call conformed_refactored.update_event_batch_table()"
      },
      "Next": "wait_on_update_event_batch_table"
    },
    "wait_on_update_event_batch_table": {
      "Type": "Wait",
      "Seconds": 120,
      "Next": "update_event_batch_table_status_check"
    },
    "update_event_batch_table_status_check": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
      "ResultPath": "$.sql_output",
      "Parameters": {
        "Id.$": "$.sql_output.Id"
      },
      "Next": "is_update_event_batch_table_complete"
    },
    "is_update_event_batch_table_complete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FAILED",
          "Next": "update_event_batch_table_failure"
        },
        {
          "Variable": "$.sql_output.Status",
          "StringEquals": "FINISHED",
          "Next": "set_adm_environment"
        }
      ],
      "Default": "wait_on_update_event_batch_table"
    },
    "update_event_batch_table_failure": {
      "Type": "Fail",
      "Error": "update_event_batch_table_failed",
      "Cause": "conformed_refactored.update_event_batch_table() failed"
    },
    "set_adm_environment": {
      "Type": "Pass",
      "Result": {"IsADMEnvironment": "${IsADMEnvironment}"},
      "ResultPath":"$",
      "Next": "check_adm_environment"
    },
    "check_adm_environment": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.IsADMEnvironment",
          "StringEquals": "true",
          "Next": "trigger_adm_processing_step_function"
        }
      ],
      "Default": "StopProcessing"
    },
    "trigger_adm_processing_step_function": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${ADMProcessingStepFunctionArn}",
        "Input": {
          "StatePayload": "Triggered from stage to redshift consolidated step function",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "Next": "StopProcessing",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "BackoffRate": 2,
          "MaxAttempts": 3,
          "IntervalSeconds": 30
        }
      ]
    },
    "dap_datamart_update_failure": {
      "Type": "Fail",
      "Cause": "Failure within DAP Datamart update_step",
      "Error": "Error"
    },
    "StopProcessing": {
      "Type": "Pass",
      "Result": "pass",
      "End": true
    }
  }
}
