statemachine/txma_adm_v3_refresh_processing.asl.json
{
    "Comment": "Redshift refresh processing workflow for ADM (v3)",
    "StartAt": "ListExecutions",
    "States": {
        "ListExecutions": {
            "Type": "Task",
            "Next": "ValidateRunningInstances",
            "Parameters": {
                "StateMachineArn.$": "$$.StateMachine.Id",
                "StatusFilter": "RUNNING"
            },
            "Resource": "arn:aws:states:::aws-sdk:sfn:listExecutions",
            "ResultSelector": {
                "runningExecutionsCount.$": "States.ArrayLength($.Executions)"
            }
        },
        "ValidateRunningInstances": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.runningExecutionsCount",
                    "NumericGreaterThan": 1,
                    "Next": "RunningInstanceDetected"
                }
            ],
            "Default": "adm_refresh"
        },
        "RunningInstanceDetected": {
            "Type": "Fail",
            "Error": "RunningInstanceDetected"
        },
        "adm_refresh": {
            "Comment": "Invoke Redshift refresh adm v3",
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
            "ResultPath": "$.sql_output",
            "Parameters": {
                "WorkgroupName": "${RedshiftWorkgroup}",
                "Database": "${RedshiftDatabaseName}",
                "SecretArn": "${RedshiftSecretArn}",
                "Sql": "call analytical_data_model.sp_run_adm_pipeline()"
            },
            "Next": "wait_on_adm_refresh"
        },
        "wait_on_adm_refresh": {
            "Comment": "Wait before status check",
            "Type": "Wait",
            "Seconds": 120,
            "Next": "adm_refresh_status_check"
        },
        "adm_refresh_status_check": {
            "Comment": "Check Task Status",
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
            "ResultPath": "$.sql_output",
            "Parameters": {
                "Id.$": "$.sql_output.Id"
            },
            "Next": "is_adm_refresh_complete"
        },
        "is_adm_refresh_complete": {
            "Comment": "check if DAP Datamart update step is complete",
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.sql_output.Status",
                    "StringEquals": "FAILED",
                    "Next": "dap_datamart_update_failure"
                },
                {
                    "Variable": "$.sql_output.Status",
                    "StringEquals": "FINISHED",
                    "Next": "StopProcessing"
                }
            ],
            "Default": "wait_on_adm_refresh"
        },
        "dap_datamart_update_failure": {
            "Type": "Fail",
            "Cause": "Failure within adm refresh",
            "Error": "Error"
        },
        "StopProcessing": {
            "Type": "Pass",
            "Result": "pass",
            "End": true
        }
    }
}
